{% extends "Front/base.html.twig" %}
{% block title %}404 {% endblock %}
{% block headerTitle %}Page Not found {% endblock %}
{% block blog %}


    <div class="blog_left_sidebar">

       <h1 class="text-center" style="color: #f04e3c ;font-size: 180px">404</h1>
    </div>
{% endblock %}