{% extends "Back/index.html.twig" %}
{% block title %} Tableau de bord {% endblock %}
{% block content %}
    <div class="orders">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-xl-10">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Les derniers blogs </h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                <tr>
                                    <th class="serial">#</th>
                                    <th>Date</th>
                                    <th class="avatar">Auteur</th>
                                    <th>Titre</th>
                                    <th>Status</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for blog in blogs %}
                                    <tr>
                                        <td class="serial">{{ loop.index }}.</td>
                                        <td >

                                                {{ blog.date|date("m/d/Y") }}

                                        </td>
                                        <td class="avatar"> {{ blog.author }} </td>
                                        <td>  <span class="name">{{ blog.title }}</span> </td>
                                        {% if blog.isPublished == 1 %}
                                            <td> <span class="badge badge-complete">publié</span> </td>
                                        {% else %}
                                            <td> <span class="badge badge-pending">brouillon</span> </td>
                                        {% endif %}

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->


        </div> <!-- /.col-md-4 -->
    </div>
{% endblock %}